ssh_keys:
     public: /tmp/go-ssh.pub
     private: /tmp/go-ssh

instance:
    tags:
       Name: go-test-provision
    instance_type: t2.micro
    use_elastic_ip: False 
    dns_zone_id: ""
    dns_record_name: ""
    disk_size: 10 
stack:
   vars:
      stage_dir: /home/ubuntu/stage_dir
      TEST_FILE: test_file 
   scripts: [ "stage.yaml" ]
